@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  --red: hsl(0, 100%, 67%);
  --yellow: hsl(39, 100%, 56%);
  --teal: hsl(166, 100%, 37%);
  --blue: hsl(234, 85%, 45%);

  --bg-slate: hsl(252, 100%, 67%);
  --bg-blue: hsl(241, 81%, 54%);

  --circle-violet: hsla(256, 72%, 46%, 1);
  --circle-black: hsla(241, 72%, 46%, 0);

  --shadow: hsl(221, 100%, 96%);
  --text: hsl(241, 100%, 89%);
  --dark: hsl(224, 30%, 27%);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  font-size: 18px;
  width: 100%;
  min-height: 100vh;
}
main {
  width: 100%;
  height: 100%;
}
.result {
  background: linear-gradient(to bottom, var(--bg-slate), var(--bg-blue));
  text-align: center;
  border-radius: 0 0 30px 30px;
  padding: 20px 40px;
}
.result > span {
  color: var(--text);
  font-size: 16px;
}
.result .circle {
  background: linear-gradient(
    to top,
    var(--circle-black),
    var(--circle-violet)
  );
  border-radius: 50%;
  width: fit-content;
  margin: 15px auto;
  padding: 20px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.result .circle span {
  color: #fff;
  font-weight: 800;
  font-size: 40px;
}
.result .circle p {
  color: var(--text);
  opacity: 0.8;
  font-size: 14px;
}
.result h4 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.result h4 + p {
  color: var(--text);
  opacity: 0.9;
  font-size: 16px;
  margin: 10px 0 20px 0;
}
.info-box {
  padding: 20px 30px;
}
.info-box > span {
  color: var(--dark);
  font-weight: 700;
  margin-bottom: 15px;
  display: block;
}
.info-box ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-box ul li {
  border-radius: 10px;
  padding: 15px;
  display: flex;
}
.info-box ul li > span {
  font-size: 16px;
  margin-left: 10px;
}
.info-box ul li:nth-child(1) {
  background: hsl(0 100% 67% / 0.1);
  color: var(--red);
}
.info-box ul li:nth-child(2) {
  background: hsl(39 100% 56% / 0.1);
  color: var(--yellow);
}
.info-box ul li:nth-child(3) {
  background: hsl(166 100% 37% / 0.1);
  color: var(--teal);
}
.info-box ul li:nth-child(4) {
  background: hsl(234 85% 45% / 0.1);
  color: var(--blue);
}
.info-box ul li div {
  flex: 1;
  text-align: right;
  color: var(--dark);
  font-weight: 700;
  font-size: 16px;
}
.info-box ul li div span {
  opacity: 0.7;
  margin-left: 3px;
  font-size: 15px;
}
.btn {
  background-color: var(--dark);
  color: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 100px;
  text-align: center;
  padding: 15px;
  font-size: 16px;
}
.btn:hover {
  background: linear-gradient(0deg, var(--bg-blue), var(--bg-slate));
}
@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    padding: 20px;
  }
  .summary {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .result,
  .info-box {
    width: 300px;
    max-width: 100%;
  }
  .result {
    border-radius: 30px;
    padding: 30px 40px;
  }
  .result > span {
    font-size: 18px;
  }
  .result .circle {
    width: 150px;
    height: 150px;
    margin: 25px auto;
  }
  .result h4 {
    font-size: 25px;
  }
  .info-box {
    border-radius: 0 30px 30px 0;
    box-shadow: 20px 10px 30px var(--shadow);
  }
  .result .circle span {
    font-size: 50px;
  }
  .result .circle span + p {
    font-size: 16px;
  }
}
